<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destination</title>
    <style>
        
    </style>
</head>
<body>
    {% for trip in trip %}
    <h1>{{trip.dest}}</h1>
    <p>Planned by: {{trip.user}}</p>
    <p>Description: {{trip.desc}}</p>
    <p>Travel Date From: {{trip.travel_start}}</p>
    <p>Travel Date To: {{trip.travel_end}}</p>
    {% endfor %}

    <h2>Other users' joining the trip:</h2>
    {% for user in trip %}
    <p>{{user.name}}</p>
    {% endfor %}
    <br>
    <a href='/travels'>Home</a>
    <a href='/logout'>Logout</a>
    
    
</body>
</html>